{% import '@cgov_common/content/blog/blog_macros.twig' as blogMacros %}
<!-- ********************** Blog Post List Item + Thumb ********************** -->
{% if content %}
  <li class="general-list-item general list-item">
    <div class="title-and-desc title desc container">
        <a class="title" href="{{ url }}" onclick="">{{ label }}</a>
        <div class="description">
          <div class="date-author">
            {{ content.field_date_posted }}, by {{ blogMacros.getAuthor(content) }}
          </div>
          <p>{{ content.field_list_description }}</p>
          <p><a href="{{ url }}">{{ 'Continue Reading'|trans }} &gt;</a></p>
        </div>
    </div>
  </li>
{% endif %}
