{% import '@cgov_common/content_page_macros.twig' as contentPageMacros %}
<!-- ********************** Blog Post List Item ********************** -->
{% if content %}
  <li class="general-list-item general list-item">
    <div class="title-and-desc title desc container">
        <a class="title" href="{{ url }}" onclick="">{{ label }}</a>
        <div class="description">
          {{ contentPageMacros.displayDates(node, content) }}
          <p>{{ content.field_list_description }}</p>
          <p><a href="{{ url }}">{{ 'Continue Reading'|t }} &gt;</a></p>
        </div>
    </div>
  </li>
{% endif %}
